.subscription__button {
    font-size: 10px;
    line-height: 13px;
    min-width: 80px;
    color: #191d2c;
    background-color: #e1fd2c;
    border: 0;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    cursor: pointer;
}
