.page {
    font-family: "Source Sans Pro", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    background-color: #191d2c;
    color: #e1fd2c;
    margin: 0 auto;
    max-width: 1280px;
    min-width: 320px;
}
