.menu {
    padding: 0;
    &__toggle {
        display: none;
    }
    &__box {
        z-index: 1;
        min-height: 70px;
        transition-duration: 0.5s;
        justify-content: flex-start;
        padding-left: 20px;
        display: flex;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 100%;
        margin: 0;
        list-style: none;
        text-align: center;
        color: $contentColor;
        background-color: $BGcolor;
    }
    &__item {
        display: block;
        margin: 27px 16px 0 auto;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 1px;
        font-weight: 400;
        color: #e1fd2c;
        text-decoration: none;
        text-transform: uppercase;
        transition-duration: 0.25s;
        &:hover {
            opacity: 0.8;
        }
    }
    &__btn {
        display: flex; /* используем flex для центрирования содержимого */
        align-items: center; /* центрируем содержимое кнопки */
        position: absolute;
        top: 25px;
        right: 20px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        z-index: 5;
        & > span::after {
            content: "";
            top: 8px;
        }
        & > span::before {
            content: "";
            top: -8px;
        }
    }
}
/* элементы меню */
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}
@media screen and (min-width: 768px) {
    .menu {
        &__box {
            width: 100%;
            margin-left: 34px;
            position: absolute;
        }
        &__item {
            font-size: 12px;
            margin-right: 20px;
        }
        &__btn {
            width: 26px;
            height: 26px;
            top: 20px;
            right: 34px;
            & > span::after {
                top: 10px;
            }
            & > span::before {
                top: -10px;
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .menu {
        &__box {
            visibility: visible;
            margin-left: 50px;
            position: static;
            grid-column: 1;
            grid-row: 1;
            padding: 0;
        }
        &__toggle {
            display: none;
        }
        &__item {
            margin-right: 20px;
            font-size: 12px;
        }
        &__btn {
            display: none;
        }
    }
}
