.lead {
    display: grid;
    min-width: 280px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 62px;
    border-bottom: 1px solid;
    &__paragraph {
        text-transform: uppercase;
        font-size: 11px;
        line-height: 14px;
        text-align: center;
        margin: 0;
    }
    &__img {
        margin: 60px auto;
        width: 280px;
        max-height: 202px;
    }
    &__btn {
        width: 280px;
        height: 64px;
        margin: 0 auto;
    }
    &__title {
        font-size: 38px;
        line-height: 50px;
        margin: 26px auto 30px;
        text-align: center;
        font-weight: 400;
    }
}
@media screen and (min-width: 1440px) {
    .lead {
        max-width: 1440px;
        grid-template-columns: 50% auto;
        padding-top: 150px;
        padding-bottom: 150px;
        &__title {
            font-size: 65px;
            line-height: 73px;
            margin: 0;
            margin-bottom: 21px;
        }
        &__img {
            grid-column: 2/3;
            grid-row: 1/5;
            min-width: 720px;
            min-height: 540px;
            margin-top: 0;
            margin-bottom: 0;
        }
        &__paragraph {
            font-size: 19px;
            line-height: 28px;
            margin: 0;
            padding-top: 30px;
        }
        &__btn {
            width: 360px;
        }
    }
}
