.page {
  font-family: "Source Sans Pro", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  background-color: #191d2c;
  color: #e1fd2c;
  margin: 0 auto;
  max-width: 1440px;
}

.content {
  width: 320px;
  margin: 0 auto;
}

.header {
  display: flex;
  height: 70px;
  position: relative;
  border-bottom: 1px solid;
  margin: 0 auto;
  max-width: 100%;
  min-width: 320px;
}

@media screen and (min-width: 1023px) and (max-width: 1279px) {
  .header {
    max-width: 928px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .header {
    max-width: 767px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    max-width: 288px;
  }
}
.logo {
  margin: 0 auto;
}

.header__logo {
  width: 100px;
  height: 20px;
  padding-top: 25px;
}

.burger {
  font: normal normal normal 14px/1 FontAwesome;
}

.lead {
  display: grid;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 62px;
  border-bottom: 1px solid;
}

.lead__img {
  margin-bottom: 60px;
  margin-top: 60px;
  width: 280px;
  height: 202px;
}

.lead__paragraph {
  text-transform: uppercase;
}

.button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  line-height: 60px;
  font-weight: 400;
  transition: color 0.3s;
  box-shadow: none;
  z-index: 1;
  color: #e1fd2c;
  background-color: #191d2c;
  border: 1px solid;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(#e1fd2c, #e1fd2c);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: background-size 0.5s;
}

.button::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
  top: 0;
  right: 16px;
  height: 100%;
  width: 25px;
  z-index: -1;
}

.button:hover {
  color: #191d2c;
  font-weight: 600;
}

.button:hover::before {
  background-size: 100% 100%;
}

.button:hover::after {
  transition: all 0.3s;
  transition-delay: 0.3s;
  filter: invert(100%);
}

.button:hover::active::before {
  transform: scale(1.15, 1.2);
}

.lead__btn {
  width: 280px;
  height: 64px;
}

.options {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border-bottom: 1px solid;
}
.options p {
  font-size: 16px;
  margin: 0;
  line-height: 27px;
  margin-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid;
}
.options p span {
  font-weight: bold;
}
.options h3 {
  margin-top: 21px;
  margin-bottom: 40px;
}
.options ul {
  margin-bottom: 20px;
  border-bottom: 1px solid;
}
.options ul li {
  list-style-type: none;
  font-size: 16px;
  line-height: 20px;
}

.options__plus-li {
  list-style-type: none;
}

.options__plus-li:before {
  content: "+";
  margin-right: 4px;
}

.options__minus-li:before {
  content: "-";
  margin-right: 4px;
}

.subscription__form {
  display: grid;
  grid-template-columns: 140px 60px 80px;
  grid-template-rows: 32px 32px;
  justify-content: center;
  justify-items: end;
  align-content: stretch;
  max-width: 280px;
  margin: auto;
  background-color: #e1fd2c;
}
.subscription__form input {
  padding: 0;
  color: #e1fd2c;
  background-color: #191d2c;
  padding-left: 11px;
  box-sizing: border-box;
  font-size: 9px;
  line-height: 18px;
  border: 1px solid;
}
.subscription__form input[name=name] {
  grid-column: 1/2;
  grid-row: 1/2;
}
.subscription__form input[name=surname] {
  grid-column: 3/4;
}
.subscription__form input[name=e-mail] {
  grid-column: 1/3;
  grid-row: 2/3;
}
.subscription__form input[type=text] {
  width: 140px;
}
.subscription__form input[type=email] {
  width: 200px;
}
.subscription__form input[type=text]::-moz-placeholder {
  color: #e1fd2c;
}
.subscription__form input[type=text]:-ms-input-placeholder {
  color: #e1fd2c;
}
.subscription__form input[type=text]::placeholder {
  color: #e1fd2c;
}
.subscription__form input:focus-visible {
  outline: none;
}
.subscription__form input[type=email]::-moz-placeholder {
  color: #e1fd2c;
}
.subscription__form input[type=email]:-ms-input-placeholder {
  color: #e1fd2c;
}
.subscription__form input[type=email]::placeholder {
  color: #e1fd2c;
}
.subscription__form input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.subscription__form input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.subscription__form input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.subscription__form input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.subscription__form input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.subscription__form input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.subscription__form input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.subscription__form input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.subscription__button {
  font-size: 10px;
  line-height: 13px;
  min-width: 80px;
  color: #191d2c;
  background-color: #e1fd2c;
  border: 0;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
}

.gallery__img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  width: 320px;
  margin: 0 auto;
}

.swiper {
  max-width: 100%;
  width: 600px;
  height: 300px;
}/*# sourceMappingURL=style.css.map */